body{
    background-image: url(../img/background.png);
    margin: 0;
}

main{
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -90px;
    border: 1px solid black;
    padding: auto;
    background-color: #fff;
}

header nav{
    background-color:#b44b87;
    color: white;
    margin-top: 10px;
    
}

nav {
    height: 35px;
    margin: 0;
    padding: 0;
    /* repeat x : répétition horizontale sur l'axe de abscisses  */
    background-color:#bd4f8d ;
    list-style: none;
}

nav ul li{
    float: left;
    text-align: center;
}

p{
    margin: 0;
}

nav ul li a{
    display: block;
    width: 130px;

    text-decoration: none;
    letter-spacing: 2px;
    font-weight: bold;
}
.texte{
    border: 1px solid black;
    /* padding: 40px; */
}


h1{
    text-align: center;
    padding: 120px;
    margin-top: 20px;
    color: #c77fb7;
    background-image: url(../img/rainbow.png);
    background-repeat: no-repeat;
    background-position: center;
}

/* h2{
    margin-top: -10px;
} */

h3{
    color: #eb4aab;
}

h4{
    color: #b44b87;
}

.gauche{
    padding: 0;
    margin: 0;
    text-align: left;
}

.texte{
    padding: -20px;
}



img{
    height: 120px;
    width: 120px;
}

section .texte{
    width: 900px;
}

figcaption{
    position: relative;
    bottom: 20px;
    opacity: 0.8;
    background-color: #333;
    height: 20px;
    line-height: 20px;

    color: #fff;
    text-align: center;
}

address{
    float: left;
}


.photo{
    float: left;
    padding: 30px 10px;
    display: block;
}

footer{
    background-color: #e577b5;
    margin-top: 0;
    height: 50px;
}

.clear{
    clear: both;
}